---
import type { Book } from "@prisma/client";
import GridBook from "../general/grid-book.astro";
import ListBook from "./list-book.astro";

interface Props {
  books: Book[];
  layout: string;
}

const { books, layout } = Astro.props;
---

{
  books.length > 0 && layout && (
    <section class="grid grid-cols-3 gap-3 min-h-[50vh]">
      {books.map((book) => (
        <ListBook {book} />
      ))}
    </section>
  )
}

{
  books.length > 0 && !layout && (
    <section class="grid grid-cols-7 gap-2.5 min-h-[50vh]">
      {books.map((book) => (
        <GridBook {book} />
      ))}
    </section>
  )
}

{
  books.length < 1 && (
    <div class="flex justify-center items-center min-h-[50vh]">
      <p class="text-zinc-800 text-2xl">No books were found</p>
    </div>
  )
}
