---
import FeaturedBooks from "@/components/bytes/home-page/featured-books.astro";
import Categories from "@/components/bytes/home-page/featured-tags.astro";
import Header from "@/components/bytes/home-page/header.astro";
import Main from "@/layouts/main.astro";
import prisma from "prisma/client";
export const prerender = false;

const tags = await prisma.tag.findMany({ include: { books: true }, take: 8 });
---

<Main
  title="Open Books, Expand Minds"
  description="Immerse yourself in a world of captivating stories, insightful knowledge, and literary wonders at Quillz - your premier destination for a diverse collection of books."
>
  <Header {tags} />
  <FeaturedBooks title="Featured Books" {tags} idx={2} />
  <Categories {tags} />
  <FeaturedBooks title="Liked Books" {tags} idx={3} />
</Main>
