---
interface Props {
  title: string;
  text: string;
  href: string;
}

const { title, text, href } = Astro.props;
---

<section class="flex flex-col gap-5">
  <h2 class="text-2xl sm:text-3xl font-semibold text-zinc-800">
    {title}
  </h2>
  <slot />
  <a
    {href}
    class="mt-3 text-sm sm:text-base max-w-max py-2.5 px-10 rounded-sm self-center flex items-center group bg-zinc-700 text-white hover:bg-zinc-800 transition shadow"
    >{text}</a
  >
</section>
