---
import Footer from "@/components/bytes/general/footer.astro";
import Navbar from "@/components/bytes/general/navbar.astro";

interface Props {
  title?: string;
  description?: string;
}

const { title = "", description = "" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Quillz - {title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="px-3 relative flex flex-col items-center">
    <Navbar />
    <main class="w-full max-w-7xl my-[142px] flex flex-col gap-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  *,
  *::before,
  *::after {
    font-family: "Roboto Slab", serif;
  }
  h1,
  h2,
  h3,
  .serif {
    font-family: "Bree Serif", serif;
  }
  ::-webkit-scrollbar {
    width: 7.5px;
  }
  ::-webkit-scrollbar-track {
    background: white;
  }
  ::-webkit-scrollbar-thumb {
    background: #3b82f6;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #2563eb;
  }
</style>
